.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style-type: none;
  animation: scroller-inf 10s linear infinite;
}

/*El fallo es porque no se está aplicando la animación al div que contiene las imágenes, sino al div con un width definido que es el scroller*/

.tag-list img {
  background: crimson;
}

.scroller {
  max-width: 1000px;
  overflow: hidden;
  outline: 3px solid lime;
}

.scroller__inner {
  display: flex;
  gap: 4rem;
  padding-block: 1rem;
}

@keyframes scroller-inf {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
